@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SGGW<br />
    Nowoursynowska 166, 02-787 Warszawa<br />
    <abbr title="Nr telefonu">P:</abbr>
    123456789
</address>

<address>
    <strong>Kontakt:</strong> <a href="mailto:s196128@sggw.edu.pl">s196128@sggw.edu.pl</a>
</address>